.tecno__boxLogos
{
    height: 4rem;
}

.tecno__dockerLogo
{
    width: 30%;
}

.tecno__awsLogo
{
    width: 10%;
    margin-top: 0.8rem;
}


.tecno__tfLogo
{
    width: 30%;
    margin-top: 0.3rem;
}


.tecno__pythonLogo
{
    width: 20%;
    margin-top: 0.5rem;
}

.tecno__reactLogo
{
    width: 20%;
    margin-top: 0rem;
}
