.tecno__boxLogos
{
    height: 4rem;
}

.tecno__dockerLogo
{
    width: 30%;
}

.tecno__awsLogo
{
    width: 13%;
    margin-top: 0rem;
}


.tecno__tfLogo
{
    width: 30%;
    margin-top: 0rem;
}


.tecno__pythonLogo
{
    width: 25%;
    margin-top: 0rem;
}

.tecno__reactLogo
{
    width: 20%;
    margin-top: 0rem;
}

.tecno__reactLogo2
{
    width: 25%;
    margin-top: 0rem;
}


.tecno__MicrosoftLogo
{
    width: 30%;
    margin-top: 0rem;
}


.tecno__gooleClLogo
{
    width: 30%;
    margin-top: 0rem;
}


.tecno__swaggerLogo
{
    width: 30%;
    margin-top: 0rem;
}

.tecno__ngnxLogo
{
    width: 20%;
    margin-top: 0rem;
}
