.nav__boxLogo
{
    height: auto;
    min-height: 4rem;
    width: 100%;
    margin-top: 0rem;
    padding: 1rem;
}


.nav__colorLink
{
    color : $secondary
}


.nav__logoFuture
{
   width: 50%;
   margin-top: 0.5rem;
}


.nav__btnBackLogOff
{
    margin-top: 1rem;
    border: 1px solid white !important;
    margin-left: 90%;
}


.nav__dropdownListBlogs
{
    margin-top: 0.8rem;
    border: 1px solid white !important;
}


.nav__droplistOption
{

    &:hover
    {
        color : $tertiary !important;
    }
}


/**********************************************************************************/


@media only screen and (max-width: 767px) 
{

    .nav__logoFuture
    {
        width: 28%;
        margin-right: -2rem !important;
        margin-top: 1.2rem !important;
    }

    .nav__btnBackLogOff
    {

        margin-left: 40% !important;
    }


    .nav__dropdownListBlogs
    {
        margin-left: 35% !important;
        width: 8rem !important;
    }


}


@media only screen and (max-width: 414px)
{

    .nav__logoFuture
    {
        width: 40%;
        margin-left: -1rem !important;

    }


    .nav__btnBackLogOff
    {

        margin-left: 40% !important;
    }


    .nav__dropdownListBlogs
    {
        margin-left: 33% !important;
        width: 8rem !important;
    }

}




  