.UI__nav
{
    height: 10%;
    width: 100vw;
    position: fixed;
    top : 0;
    z-index: 10;
    //background-color: transparent !important;

}


.UI__precentacion
{
    height: 80%;
    width: 100vw;
    padding: 1rem;
}


.UI__tecnologias
{
    height: 30%;
    width: 100vw;
}


.UI__celulas
{
    height: 100%;
    width: 100vw;
    background-color: $tertiary;
}


.UI__testimonios
{
    height: 200%;
    width: 100vw;
}


.UI__infografia
{
    height: 100%;
    width: 100vw;
    background-color: $tertiary;

}


.UI__Productos
{
    height: 50%;
    width: 100vw;

}


.UI__footer
{
    height: auto;
    width: 100vw;
}


.UI__footer2
{
    height: 60vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top : 40%
}


.UI__admin
{
    height: 90vh;
    width: 100vw;
}


.UI__login
{
    height: 90vh;
    width: 100vw;
}


.UI__blog
{
    min-height: 90vh;
}


@media only screen and (max-width: 767px) 
{

    .UI__nav
    {
    
        height: auto !important;

    }


}
