 html, body
 {
    height: auto;
    background-color: white;
    overflow-x: hidden;

 }

 p
 {
    margin : 0 !important;
 }

 a
 {
    text-decoration: none;
    color : white;

    &:hover
    {
       color : white;
    }
 }


 .base__alingCenterColum
 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .base__alingCenterRow
 {
   display: flex !important;
   flex-direction: row !important;
   justify-content: center !important;
   align-items: center !important;
 }



 .base__alingCenter
 {
   display: flex;
   justify-content: center;
   align-items: center;
 }


 .base__alingLine
 {
   display: flex !important;
   justify-content: left !important;
 }


 .base__marginRight2Rem
 {
    margin-right: 2rem;
 }


 .base__pointer
 {
    cursor: pointer;
 }


 .base__noBorder
 {
    border: none !important;
 }


 .base_backTransparent
 {
   background-color: transparent !important;
 }

 .base__circle
 {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
 }


 .base_ml5
 {
    margin-left: 5rem !important;
 }


 .base__P8
 {
    padding: 8rem !important;
 }

 .base__mt50
 {
    margin-top: 10%;
 }


 .base__overflowAuto
 {
    overflow: auto !important;
 }
 

 .base__closeSpace
 {
   width: 100vw;
   height: 50vh;
   background-color: transparent;
   position: fixed;
   z-index: 9;

 }



/**********************************************************************************/


 .card
 {
   background-color: transparent;
 }



/**********************************************************************************/



 @media only screen and (max-width: 767px) 
{

   .base__hiddenResponse
   {
      display: none !important;
   }


}